!!!
%html
  %head
    %title Offerchat Prototype
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags


  %body
    .dashboard.group
      .dashboard-header.group
        .container
          %a.logo    
      %div.group{ :style => 'position:relative; min-width:1055px; max-width:100%' }
        .dashboard-sidebar
          .profile-container
            .user-thumbnail{ :style => "background-image: url(#{ image_path('person1.jpg') })" }
            .user-profile
              %strong Jonathan
              .user-current-status 
                / %span.status.online  
                / Online
                .status-connection
                  Connecting...
              .user-settings{ :style => 'display: none' }
                .user-select-status
                  .option-status
                    %span.status.away
                    Away
                  .option-status
                    %span.status.offline 
                    Offline

          .sidebar-inner.scrollable
            .section-nav
              %a.nav-parent.selected
                BuyRealMarketing
              .nav-bg
                %a.nav.active
                  Chats
                  %label.chat-count.nu 10
                %a.nav
                  History
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 3
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Quick Seo Results 
        .dashboard-content.group
          = yield
    .modal.hide#addResponseModal
      .modal-header
        %button.close
        %h2 Add a response
      .modal-body
        .form-wrapper
          .field-wrapper
            %fieldset
              .label-container
                %label Command
              .input-container
                %input{ :type => 'text' }
            %fieldset
              .label-container
                %label Message
              .input-container
                %textarea.full
      .modal-footer
        %button.btn.action.small Create response
        %button.btn.small Cancel

    .modal-backdrop.hide