%html
  %head
    %title Offerchat Prototype
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    

  %body
    %a#feedBackBtn
      Send feedback
    .dashboard.group
      .dashboard-header.group
        .container
          %a.logo
            %small beta
          %ul.menu-list.group
            %li
              %a.active Websites
              .caret.menu-marker
            %li 
              %a Users
            %li 
              %a My Account
            %li.logout
              %a Logout
      %div.group{ :style => 'position:relative; min-width:1055px; max-width:100%' }
        .dashboard-sidebar
          .profile-container.group
            .user-thumbnail{ :style => "background-image: url(#{ image_path('person1.jpg') })" }
            .user-profile
              .profile-agent-name Jonathan
              .user-current-status 
                %a
                  %span.status.online  
                  Online
                
                  %i.icon.icon-arrow-down
              /   .status-connection
              /     Connecting...
              .user-settings{ :style => 'display: none' }
                .user-select-status
                  %a.option-status
                    %span.status.away
                    Away
                  %a.option-status
                    %span.status.offline 
                    Offline

          .sidebar-inner.scrollable
            .section-nav
              %a.nav-parent
                %i.icon-icon-home
                Dashboard
            .section-nav
              %a.nav-parent.selected
                BuyRealMarketing
              .nav-bg
                
                %a.nav.active
                  %i.icon.icon-chat
                  Chats
                  %label.chat-count.nu 10
                %a.nav
                  %i.icon.icon-chat-history
                  History
                %a.nav
                  %i.icon.icon-gear
                  Chat settings
                %a.nav
                  %i.icon.icon-widget
                  Widget settings
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 3
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Quick Seo Results 
        .dashboard-content.group
          = yield
    .modal.dialog-box.hide
      .modal-header
        %button.close
        %h2 Action required
      .modal-body
        Are you sure you want to end this chat?
      .modal-footer
        %button.btn.action.small End chat
        %button.btn.small Cancel


    .modal.hide#sendDeveloperModal
      .modal-header
        %button.close
        %h2 Send widget code to your developer
      .modal-body
        .form-wrapper
          .field-wrapper
            %fieldset              
              .label-container
                %label To
              .input-container
                %input.full{ :type => 'text', :placeholder => 'webmaster@example.com' }
                .message-text.error
                  Please enter a valid email
          .field-wrapper
            %fieldset              
              .label-container
                %label Subject
              .input-container
                %input.full{ :type => 'text', :value => 'Please install the Offerchat widget code' }
                .message-text.error
                  Please enter a subject
          .field-wrapper
            %fieldset
              %textarea.precoded.full#widgetCode{ :type => 'text', :style => 'height: 250px', :readonly => 'readonly' }
                <!--Start of Zopim Live Chat Script-->
                <script type="text/javascript">
                window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//cdn.zopim.com/?nIh2wDMn6IKJrpVHf1GNCrCIhVc8ZKpN';z.t=+new Date;$.
                type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
                </script>
                <!--End of Zopim Live Chat Script-->
      .modal-footer
        %button.btn.small.action Send to developer

    .modal.hide#addResponseModal
      .modal-header
        %button.close
        %h2 Add a response
      .modal-body
        .form-wrapper
          .field-wrapper
            %fieldset
              .label-container
                %label Command
              .input-container
                %input{ :type => 'text' }
            %fieldset
              .label-container
                %label Message
              .input-container
                %textarea.full
      .modal-footer
        %button.btn.action.small Create response
        %button.btn.small Cancel


    .modal.hide#addTriggerModal
      .modal-header
        %button.close
        %h2 Create a trigger
      .modal-body
        %p Use triggers to automate customized chat responses for different groups of visitors.
        .form-wrapper
          .field-wrapper
            %fieldset
              .label-container
                %label Condition
              .input-container
                .dropdown-group
                  %button.btn.small
                    Select a condition 
                    %span.caret
                  %ul.dropdown-menu{ :style => 'display: none' }
                    %li
                      = link_to 'Reach a destination URL','#'
                    %li
                      = link_to 'Visitor time on site','#'
                    %li
                      = link_to 'Visitor time on url','#'
                .message-text.error
                  Please select a condition
            %fieldset
              .label-container
                %label Value
              .input-container
                / %input.full{ :type => 'text', :placeholder => 'http://' }
                %input.full{ :type => 'text', :placeholder => '10', :style => 'width: 40px' }
                secs
                .message-text.error
                  Invalid number

            %fieldset
              .label-container
                %label 
              .input-container
                / %input.full{ :type => 'text', :placeholder => 'http://' }
                %input.full{ :type => 'text', :placeholder => 'http://', :value => 'http://' }
                .message-text.error
                  This field is required
              


            %fieldset
              .label-container
                %label Message to visitor
              .input-container
                %textarea.full
                .message-text.error
                  Please enter a message
      .modal-footer
        %button.btn.action.small Create trigger
        %button.btn.small Cancel

    .modal.hide#addResponseModal
      .modal-header
        %button.close
        %h2 Create a canned response
      .modal-body
        %p Use canned responses to respond quickly with standard phrases.
        .form-wrapper
          .field-wrapper           
            %fieldset
              .label-container
                %label Shortcut
              .input-container
                %input.full{ :type => 'text', :placeholder => 'Canned response name' }
               
            %fieldset
              .label-container
                %label Message
              .input-container
                %textarea.full
      .modal-footer
        %button.btn.action.small Create canned response
        %button.btn.small Cancel


    .modal.hide#resetPasswordModal
      .modal-header
        %button.close
        %h2 Reset Password
      .modal-body
        .form-wrapper
          .field-wrapper
           
            %fieldset
              .label-container
                %label Old Password
              .input-container
                %input.full{ :type => 'password'}

            %fieldset
              .label-container
                %label Confirm New Password
              .input-container
                %input.full{ :type => 'password'}

            %fieldset
              .label-container
                %label New Password
              .input-container
                %input.full{ :type => 'password'}

      .modal-footer
        %button.btn.action.small Reset Password

    .modal.hide#transferChatModal
      .modal-header
        %button.close
        %h2 Transfer chat to another agent
      .modal-body
        .form-wrapper
          .field-wrapper
            .message{ :style => 'display: none' }
              This chat will be transferred once Jonathan Kennedy accepts the invite
            Select the agent you wanted to transfer the current chat to
            
            .dropdown-group{ :style => 'margin-left: 10px' }
              %button.btn.small
                Select an agent 
                %span.caret
              %ul.dropdown-menu{ :style => 'display: none'}
                %li
                  %a{ :href => '#' }
                    %span.status.online 
                    Harvey Enrile (admin)
                %li
                  %a{ :href => '#' }
                    %span.status.online 
                    Reina Figuracion
                %li
                  %a{ :href => '#' }
                    %span.status.online 
                    Jonathan Kennedy
      .modal-footer
        %button.btn.action.small Transfer
        %button.btn.small Cancel

    .modal.modal-chat-view.hide
      .modal-header
        %button.close
        %h2 Viewing conversation history
      .chat-view-inner{ :style => 'min-height: 450px' }
        .chat-header      
          .visitor-info-wrapper
            %ul.visitor-info-list
              
              %li
                %span.visitor-username{ :style => 'position: relative; top: 1px' } y43fddp
              %li 
                %span.visitor-location 
                  %i.icon.map-pin
                  Cebu, Philippines
              %li
                %span.visitor-browser{ :title => 'Mozilla Firefox 4.0' }
                  %i.icon.browser-mozilla              
              %li
                %span.visitor-system{ :title => 'Linux' }
                  %i.icon.system-linux             
              %li
                %a#more-info{ :style => 'display: inline-block; width: 70px;  text-align: center;' }
                  more info 
              
          .visitor-more-info        
            %ul._y5
              %li
                .info-label From 
                .info-value http://www.offerchat.com
              %li
                .info-label Time spent 
                .info-value 15:30
              %li
                .info-label IP Address
                .info-value 192.168.14.34
              %li
                .info-label System/Browser
                .info-value Windows 8/Mozilla Firefox 17.1                

        .chat-body
          .chat-content-area.scrollable
            %ul.chat-list
              %li.chat-group.ls
                .chat-status-inner
                  %p Visitor-y43fddp has entered the chat
              %li.chat-group.group
                %div
                  %strong 
                    %span._uB Visitor-y43fddp
                .chat-message-1
                  %p Hello?
                  %p fdsfsdfds
                  %p How will this work?
              %li.chat-group.group
                
                %div
                  %strong 
                    %span._uB Jonathan (You)
                .chat-message-1
                  %p The second, older syntax is known as the indented syntax (or just “.sass”). Inspired by Haml’s terseness, it’s intended for people who prefer conciseness over similarity to CSS. Instead of brackets and semicolons
              %li.chat-group.ls.group
                .chat-status-inner.o_4
                  %em 
                    visitor-y43fddp is currently viewing
                    =link_to 'https://mail.google.com/mail/u/0/#inbox','#'                    
              %li.chat-group.group
                %div
                  %strong 
                    %span._uB Visitor-y43fddp
                .chat-message-1
                  %p Hello?
                  %p fdsfsdfds
                  %p How will this work?
              %li.chat-group.group
                
                %div
                  %strong 
                    %span._uB Jonathan (You)
                .chat-message-1
                  %p The second, older syntax is known as the indented syntax (or just “.sass”). Inspired by Haml’s terseness, it’s intended for people who prefer conciseness over similarity to CSS. Instead of brackets and semicolons
                  %p The second, older syntax is known as the indented syntax (or just “.sass”). Inspired by Haml’s terseness, it’s intended for people who prefer conciseness over similarity to CSS. Instead of brackets and semicolons
              %li.chat-group.ls
                .chat-status-inner.red
                  %p Visitor-y43fddp has left the conversation
      .modal-footer
        %button.btn.small
          Export Transcript
        %div{ :style => 'float: right' }
          visitor y43fddp has rated this chat as good 
          %i.icon.icon-thumbs-up
    .modal#feedbackModal.hide
      .modal-header
        %button.close
        %h2 We'd love to hear your feedback
      .modal-body
        %p Use canned responses to respond quickly with standard phrases.
        .form-wrapper
          .field-wrapper           
            %fieldset
              .label-container
                %label Shortcut
              .input-container
                %select
                  %option
                    Bug Report
                  %option
                    Feature Request
                  %option
                    General Inquiry
               
            %fieldset
              .label-container
                %label Message
              .input-container
                %textarea.full
      .modal-footer
        %button.btn.small.action
          Send Feedback
    .modal-backdrop.hide

    .modal-loader-wrapper.hide
      #floatingCirclesG
        #frotateG_01.f_circleG
        #frotateG_02.f_circleG
        #frotateG_03.f_circleG
        #frotateG_04.f_circleG
        #frotateG_05.f_circleG
        #frotateG_06.f_circleG
        #frotateG_07.f_circleG
        #frotateG_08.f_circleG



  / %script{ :type => "text/javascript", :src => "https://www.google.com/jsapi" }

  
