!!!
%html
  %head
    %title Offerchat Prototype
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags



  %body
    .dashboard.group
      .dashboard-header.group
        .container
          %a.logo    
      %div.group{ :style => 'position:relative; min-width:1055px; max-width:100%' }
        .dashboard-sidebar
          .profile-container
            .user-thumbnail{ :style => "background-image: url(#{ image_path('person1.jpg') })" }
            .user-profile
              %strong Jonathan
              .user-current-status 
                / %span.status.online  
                / Online
                .status-connection
                  Connecting...
              .user-settings{ :style => 'display: none' }
                .user-select-status
                  .option-status
                    %span.status.away
                    Away
                  .option-status
                    %span.status.offline 
                    Offline

          .sidebar-inner.scrollable
            .section-nav
              %a.nav-parent.selected
                BuyRealMarketing
              .nav-bg
                %a.nav.active
                  Chats
                  %label.chat-count.nu 10
                %a.nav
                  History
                %a.nav
                  Chat settings
                %a.nav
                  Widget settings
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 3
            .section-nav
              %a.nav-parent
                Buzzednow.com
                %label.chat-count 10
            .section-nav
              %a.nav-parent
                Buzzednow.com                
            .section-nav
              %a.nav-parent
                Quick Seo Results 
        .dashboard-content.group
          = yield
    .modal.dialog-box.hide
      .modal-header
        %button.close
        %h2 Action required
      .modal-body
        Are you sure you want to end this chat?
      .modal-footer
        %button.btn.action.small End chat
        %button.btn.small Cancel


    .modal.hide#sendDeveloperModal
      .modal-header
        %button.close
        %h2 Send widget code to your developer
      .modal-body
        .form-wrapper
          .field-wrapper
            %fieldset              
              .label-container
                %label To
              .input-container
                %input.full{ :type => 'text', :placeholder => 'webmaster@example.com' }
          .field-wrapper
            %fieldset              
              .label-container
                %label Subject
              .input-container
                %input.full{ :type => 'text', :value => 'Please install the Offerchat widget code' }
          .field-wrapper
            %fieldset
              %textarea.precoded.full#widgetCode{ :type => 'text', :style => 'height: 250px', :readonly => 'readonly' }
                <!--Start of Zopim Live Chat Script-->
                <script type="text/javascript">
                window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//cdn.zopim.com/?nIh2wDMn6IKJrpVHf1GNCrCIhVc8ZKpN';z.t=+new Date;$.
                type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
                </script>
                <!--End of Zopim Live Chat Script-->
      .modal-footer
        %button.btn.small.action Send to developer

    .modal.hide#addResponseModal
      .modal-header
        %button.close
        %h2 Add a response
      .modal-body
        .form-wrapper
          .field-wrapper
            %fieldset
              .label-container
                %label Command
              .input-container
                %input{ :type => 'text' }
            %fieldset
              .label-container
                %label Message
              .input-container
                %textarea.full
      .modal-footer
        %button.btn.action.small Create response
        %button.btn.small Cancel


    .modal.hide#addTriggerModal
      .modal-header
        %button.close
        %h2 Create a trigger
      .modal-body
        %p Use triggers to automate customized chat responses for different groups of visitors.
        .form-wrapper
          .field-wrapper
            %fieldset
              .label-container
                %label Condition
              .input-container
                .dropdown-group
                  %button.btn.small
                    Select a condition 
                    %span.caret
                  %ul.dropdown-menu{ :style => 'display: none' }
                    %li
                      = link_to 'Reach a destination URL','#'
                    %li
                      = link_to 'Visitor time on site','#'
                    %li
                      = link_to 'Visitor time on url','#'
            %fieldset
              .label-container
                %label Value
              .input-container
                / %input.full{ :type => 'text', :placeholder => 'http://' }
                %input.full{ :type => 'text', :placeholder => '10', :style => 'width: 40px' }
                secs

            %fieldset
              .label-container
                %label 
              .input-container
                / %input.full{ :type => 'text', :placeholder => 'http://' }
                %input.full{ :type => 'text', :placeholder => 'http://', :value => 'http://' }
              


            %fieldset
              .label-container
                %label Message to visitor
              .input-container
                %textarea.full
      .modal-footer
        %button.btn.action.small Create trigger
        %button.btn.small Cancel

    .modal.hide#addResponseModal
      .modal-header
        %button.close
        %h2 Create a canned response
      .modal-body
        %p Use canned responses to respond quickly with standard phrases.
        .form-wrapper
          .field-wrapper
           
            %fieldset
              .label-container
                %label Shortcut
              .input-container
                %input.full{ :type => 'text', :placeholder => 'Canned response name' }
               
            %fieldset
              .label-container
                %label Message
              .input-container
                %textarea.full
      .modal-footer
        %button.btn.action.small Create canned response
        %button.btn.small Cancel

    .modal-backdrop.hide

    .modal-loader-wrapper.hide
      #floatingCirclesG
        #frotateG_01.f_circleG
        #frotateG_02.f_circleG
        #frotateG_03.f_circleG
        #frotateG_04.f_circleG
        #frotateG_05.f_circleG
        #frotateG_06.f_circleG
        #frotateG_07.f_circleG
        #frotateG_08.f_circleG